[Unit]
Description=Starts espn-ffb Flask app
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/opt/espn-ffb
ExecStart=/usr/local/bin/uwsgi --ini /etc/opt/espn-ffb/espn-ffb-prod.ini

[Install]
WantedBy=default.target
