<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.4/b-colvis-1.6.4/b-html5-1.6.4/b-print-1.6.4/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recap.css') }}"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-static-top">
      <a class="navbar-brand mr-auto" href="#">League Name&nbsp;</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myTopnav" aria-controls="myTopnav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="myTopnav">
        <ul class="nav navbar-nav nav-pills">
          {%- if awards_templates_years %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% block nav_awards %}{% endblock %}" href="#" id="navbarAwards" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Awards
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarAwards">
                {%- for year in awards_templates_years %}
                  <a class="dropdown-item" href="{{ url_for('awards.show', year=year) }}">{{ year }}</a>
                {%- endfor %}
              </div>
            </li>
          {%- endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% block nav_standings %}{% endblock %}" href="#" id="navbarStandings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Standings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarStandings">
              <a class="dropdown-item" href="{{ url_for('standings.show', year='overall') }}">Overall</a>
              <div class="dropdown-divider"></div>
              {%- for year in years %}
                <a class="dropdown-item" href="{{ url_for('standings.show', year=year) }}">{{ year }}</a>
              {%- endfor %}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block nav_h2h %}{% endblock %}" href="{{ url_for('h2h_records.show') }}">H2H Records</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block nav_matchups %}{% endblock %}" href="{{ url_for('matchup_history.show') }}" >Matchup History</a>
          </li>
          {%- if recap_templates_year_weeks %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% block nav_recap %}{% endblock %}" href="#" id="navbarRecap" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recap
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarRecap">
                {%- for year_month in recap_templates_year_weeks %}
                  <a class="dropdown-item" href="{{ url_for('recap.show', year=year_month[0], week=year_month[1]) }}">{{ year_month[0] }}, Week {{ '%02d' % year_month[1] }}</a>
                {%- endfor %}
              </div>
            </li>
          {%- endif %}
          <li class="nav-item">
            <a class="nav-link {% block nav_champions %}{% endblock %}" href="{{ url_for('champions.show') }}">Champions</a>
          </li>
          {%- if playoffs_templates_years %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% block nav_playoffs %}{% endblock %}" href="#" id="navbarPlayoffs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Playoffs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarPlayoffs">
                {%- for year in playoffs_templates_years %}
                  <a class="dropdown-item" href="{{ url_for('playoffs.show', year=year) }}">{{ year }}</a>
                {%- endfor %}
              </div>
            </li>
          {%- endif %}
        </ul>
      </div>
    </nav>
    {%- block content %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- DataTables -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.4/b-colvis-1.6.4/b-html5-1.6.4/b-print-1.6.4/datatables.min.js"></script>
    <script src="{{ url_for('static', filename='js/sort.js') }}"></script>

  </body>
</html>
