<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}"/>
    {%- block recap_css %}{% endblock %}
    <script src="{{ url_for('static', filename='js/sort.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
  </head>
  <div class="topnav" id="myTopnav">
    {%- if awards_templates_years %}
      <div class="dropdown {% block nav_awards %}{% endblock %}">
        <button class="dropbtn">Awards<i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
          {%- for year in awards_template_years %}
            <a href="{{ url_for('awards.show', year=year) }}">{{ year }}</a>
          {%- endfor %}
        </div>
      </div>
    {%- endif %}
    <div class="dropdown {% block nav_standings %}{% endblock %}">
      <button class="dropbtn">Standings<i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content">
        <a href="{{ url_for('standings.show', year='overall') }}">Overall</a>
        {%- for year in years %}
          <a href="{{ url_for('standings.show', year=year) }}">{{ year }}</a>
        {%- endfor %}
      </div>
    </div>
    <a href="{{ url_for('h2h_records.show') }}" class="{% block nav_h2h %}{% endblock %}">H2H Records</a>
    <a href="{{ url_for('matchup_history.show') }}" class="{% block nav_matchups %}{% endblock %}">Matchup History</a>
    {%- if recap_templates_year_weeks %}
      <div class="dropdown {% block nav_recap %}{% endblock %}">
        <button class="dropbtn">Recap<i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
          {%- for year_month in recap_templates_year_weeks %}
            <a href="{{ url_for('recap.show', year=year_month[0], week=year_month[1]) }}">{{ year_month[0] }}, Week {{ year_month[1] }}</a>
          {%- endfor %}
        </div>
      </div>
    {%- endif %}
    <a href="{{ url_for('champions.show') }}" class="{% block nav_champions %}{% endblock %}">Champions</a>
    {%- if playoffs_templates_years %}
      <div class="dropdown {% block nav_playoffs %}{% endblock %}">
        <button class="dropbtn">Playoffs<i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
          {%- for year in playoffs_template_years %}
            <a href="{{ url_for('playoffs.show', year=year) }}">{{ year }}</a>
          {%- endfor %}
        </div>
      </div>
    {%- endif %}
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
  {%- block content %}{% endblock %}
</html>