<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}"/>
    {%- block recap_css %}{% endblock %}
    <script src="{{ url_for('static', filename='js/sort.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
  </head>
  <div class="topnav" id="myTopnav">
    <a href="{{ url_for('awards.show') }}" class="{% block nav_awards %}{% endblock %}">Awards</a>
    <div class="dropdown {% block nav_standings %}{% endblock %}">
      <button class="dropbtn">Standings<i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content">
        <a href="{{ url_for('standings.show', year='overall') }}">Overall</a>
        <a href="{{ url_for('standings.show', year=2019) }}">2019</a>
      </div>
    </div>
    <a href="{{ url_for('h2h_records.show') }}" class="{% block nav_h2h %}{% endblock %}">H2H Records</a>
    <a href="{{ url_for('matchup_history.show') }}" class="{% block nav_matchups %}{% endblock %}">Matchup History</a>
    <div class="dropdown {% block nav_recap %}{% endblock %}">
      <button class="dropbtn">Recap<i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content">
        <a href="{{ url_for('recap.show', year=2018, week=2) }}">2018, Week 2</a>
      </div>
    </div>
    <a href="{{ url_for('champions.show') }}" class="{% block nav_champions %}{% endblock %}">Champions</a>
    <div class="dropdown {% block nav_playoffs %}{% endblock %}">
      <button class="dropbtn">Playoffs<i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content">
        <a href="{{ url_for('playoffs.show', year=2018) }}">2018</a>
      </div>
    </div>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
  {%- block content %}{% endblock %}
</html>