{%- extends "base.html" -%}
{% block nav_champions %}active{% endblock %}
{%- block content -%}
  {%- if records|length > 0 %}
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            {%- for th in table_headers %}
            <th>{{ th }}</th>
            {%- endfor %}
          </tr>
        </thead>
        <tbody>
          {%- for r in records %}
            <tr>{%- for cn in column_names %}<td>{{ r[cn] }}</td>{%- endfor %}</tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  {%- endif %}
{%- endblock -%}