{%- extends "base.html" -%}
{% block nav_standings %}active{% endblock %}
{%- block content -%}
  {%- if records|length > 0 %}
  <div class="stats-table">
    <table>
      <tr>
        <th>Rank</th>
        {%- for th in table_headers %}
        <th>{{ th }}</th>
        {%- endfor %}
      </tr>
      {%- set count = namespace(a=1) %}
      {%- for r in records %}
      <tr>
        <td>{{ count.a }}</td>
        {%- for cn in column_names %}
        {%- if cn == "owner_id" %}
        <td>{{ owner_id_to_name.get(r[cn]) }}</td>
        {%- elif cn == "points_for" or cn == "points_against" %}
        <td>{{ r[cn] | number_format }}</td>
        {%- elif cn == "championships" %}
        <td>
          {%- for c in range(0, r[cn]) %}
          <img height=60 src="{{ url_for('static', filename='images/trophy.png') }}"/>
          {%- endfor %}
        </td>
        {%- elif cn == "sackos" %}
        <td>
          {%- for d in range(0, r[cn]) -%}
          {%- if r['owner_id'] == sacko['owner_id'] %}
          <img height=60 src="{{ url_for('static', filename='images/sacko-current.png') }}"/>
          {%- else %}
          <img height=60 src="{{ url_for('static', filename='images/sacko.png') }}"/>
          {%- endif %}
          {%- endfor %}
        </td>
        {%- else %}
        <td>{{ r[cn] }}</td>
        {%- endif %}
        {%- endfor %}
      </tr>
      {%- set count.a = count.a + 1 %}
      {%- endfor %}
    </table>
  </div>
  {%- endif %}
{%- endblock -%}