{%- extends "base.html" -%}
{% block nav_awards %}active{% endblock %}
{%- block content %}
  <br>
  <b>Weekly Payouts ($10)</b>
  <div class="stats-table">
    <table>
      <tr>
        <th>Week</th>
        <th>Position</th>
        <th>Criteria</th>
        <th>Winner</th>
        <th>Player</th>
        <th>Winning Stat</th>
      </tr>
      <tr>
        <td>1</td>
        <td>QB</td>
        <td>Passing yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>RB</td>
        <td>Rushing yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td>WR / TE</td>
        <td>Receiving yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td>QB</td>
        <td>Passing yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td>RB</td>
        <td>Rushing yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>6</td>
        <td>WR / TE</td>
        <td>Receiving yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>7</td>
        <td>QB</td>
        <td>Passing yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td>RB</td>
        <td>Rushing yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>9</td>
        <td>WR / TE</td>
        <td>Receiving yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>10</td>
        <td>QB</td>
        <td>Passing yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>11</td>
        <td>RB</td>
        <td>Rushing yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>12</td>
        <td>WR / TE</td>
        <td>Receiving yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>13</td>
        <td>QB</td>
        <td>Passing yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>14</td>
        <td>RB</td>
        <td>Rushing yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>15</td>
        <td>WR / TE</td>
        <td>Receiving yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>16</td>
        <td>QB</td>
        <td>Passing yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>17</td>
        <td>RB</td>
        <td>Rushing yards</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <br>
  <b>Season Payouts ($30)</b>
  <div class="stats-table">
    <table>
      <tr>
        <th>Criteria</th>
        <th>Winner</th>
        <th>Player</th>
        <th>Winning Stat</th>
        <th>Week</th>
      </tr>
      <tr>
        <td>Longest passing TD</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Longest rushing TD</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Longest receiving TD</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
{%- endblock -%}